<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
	<parameter name="browser" value="Chrome"></parameter>
  	<test thread-count="5" name="Test">
  		<classes>
      		<class name="TestCases.AmazonTestCases">
      			<methods>         				  
 	  				<include name = "tc02"></include>	  
     			</methods>
      		</class>
		</classes>
  	</test> <!-- Test -->
</suite> <!-- Suite -->
